@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "mixin";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include desktop_xl{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2%;
        margin-top: 2%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .carte{
        width: 80%;
        height: 54.5%;
        background-color: #d8d8d8;
        box-shadow: 1px 1px 15px 5px rgb(66, 66, 66);
        border-radius: 1%;
        margin-top: 5%;
        @include desktop_xl{
            position: inherit;
            width: 30%;
            height: 65.4%;
            margin: 1%;
        }
        &:hover{
            .info{ 
                visibility: visible;
            }
        }
        .image{
            img{
            width: 100%;
            border-radius: 1% 1% 1% 1%;
                &:hover{
                    filter:opacity(20%);
                }
            }
        }
        .info{
            position: relative;
            visibility: hidden;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            flex-direction: column;
            margin-top: -125%;
            @include desktop_xl{
                margin-top: -115%;
            }
                .titre_date{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: baseline;
                    justify-content: flex-start;
                    .titre{
                        font-family: 'Fjalla One', sans-serif;
                    }
                    .date{
                        font-family: 'Roboto', sans-serif;
                        font-size: 150%;
                        margin-left: 5%;
                    }
                }
                .other{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    font-family: 'Roboto', sans-serif;
                    .real{
                        margin-top: 3%;
                    }
                    .cast{
                        margin-top: 3%;
                    }
                    .desc{
                        margin-top: 6%;
                    }
                }
                .link{
                    margin-top: 3%;
                    a{
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    color: black;
                    
                    }
                }
        }
    }
}