@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "mixin";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop_xl{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header{
        width: 90%;
        font-family: 'Fjalla One', sans-serif;
        color: rgb(250, 250, 250);
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        @include desktop_xl{
            font-size: 175%; 
            width: 100%;
        }
    }
    .main{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
        @include desktop_xl{
            width: 33%;
        }
        .carte{
            width: 80%;
            overflow: hidden;
            box-shadow: 1px 1px 15px 5px rgb(128, 128, 128);
            border-radius: 1%;
            position: relative;
            overflow: hidden;
            &:hover{
                .info{
                visibility: visible;
                background-color: rgba($color: #000000, $alpha: 0.7);
                backdrop-filter: blur(10px);
                }
            }
                img{
                    width: 100%;
                    border-radius: 1% 1% 1% 1%;
            }
            .info{
                height: 100%;
                padding: 10px;
                visibility: hidden;
                position: absolute;
                color: white;
                top: 0px;
                left: 0px;
                .titre_date{
                    .titre{
                        font-family: 'Fjalla One', sans-serif;
                    }
                    .date{
                        font-family: 'Roboto', sans-serif;
                        font-size: 150%;
                        margin-left: 5%;
                    }
                }
                .other{
                    font-family: 'Roboto', sans-serif;
                    .real{
                        margin-top: 3%;
                    }
                    .cast{
                        margin-top: 3%;
                    }
                    .desc{
                        margin-top: 6%;
                    }
                }
            }
        }
    }
}